@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/*  RESET */

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-heading: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
    --fs-number: clamp(1.56rem, calc(1.47rem + 0.45vw), 1.88rem);
    --fs-number-special: clamp(1.88rem, calc(1.79rem + 0.45vw), 2.19rem);

    --ss-wrap: clamp(27.19rem, calc(22.90rem + 21.43vw), 42.19rem);
    --ss-wrap-large: clamp(36.25rem, calc(30.54rem + 28.57vw), 56.25rem);
    --ss-app: clamp(18.75rem, calc(13.39rem + 26.79vw), 37.50rem);
}

html {
    font-size: 62.5%;
}

input {
    border: none;
    font: inherit;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

button {
    border: none;
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    font: inherit;
    background: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* KEYFRAMES */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(1.5rem) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* GENERAL */

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(225,227,230);
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    min-height: 64rem;
}

.header {
    position: absolute;
    top: 0;
    background-color: #0b0d10;
    width: 100%;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: var(--ss-wrap);
    /* height: 28.5rem; */
    height: max(28.5rem, 32rem);
    display: flex;
    margin-top: 20rem;
}

.app {
    background-color: #fff;
    width: 20rem;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-right: 1rem;
}

/* STYLES */

.logo {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    opacity: 0.95;
}

.logo span {
    font-weight: 500;
    font-style: italic;
    color: #0072e4;
}

.top {
    background-color: #f2f2f2;
    height: 10rem;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-heading {
    /* font-size: 1rem; */
    font-size: var(--fs-heading);
    font-weight: 500;
    text-transform: uppercase;
    margin-block: .5rem;
}

.balance-number {
    /* font-size: 2.5rem; */
    font-size: var(--fs-number);
    font-weight: 700;
}

/* classList */

.balance-number--special {
    color: orangered;
    /* font-size: 3rem; */
    font-size: var(--fs-number-special);
}

/* --- */

.overview {
    width: 80%;
    margin: 0 auto;
    margin-block: 1.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1rem 0;
}

.overview > .section:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.144);
}

.second-heading {
    /* font-size: 1rem; */
    font-size: var(--fs-heading);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.form {
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
}

.label {
    display: block;
    margin-bottom: 3px;
    font-size: var(--fs-heading);
}

.input {
    width: 100%;
    margin-bottom: .5rem;
}

.btn {
    border-radius: 400rem;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem;
    color: #fff;
    background-color: #0072e4;
    margin-top: 1.5rem;
    transition: color 300ms;
}

.btn:hover {
    background-color: #0068cf;
}

.transaction-section {
    width: 15rem;
}

.third-heading {
    /* font-size: 1rem; */
    font-size: var(--fs-heading);
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.transaction {
    position: relative;
    /* font-size: 1rem; */
    font-size: var(--fs-heading);
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    overflow: hidden;
    cursor: pointer;
    animation: fade-in 300ms;
}

.transaction--income {
    border-right: 5px solid green;
}

.transaction--expense {
     border-right: 5px solid red;
}

.transaction__text {
    margin-right: 2px;
}

.transaction__amount {
    margin-left: auto;
}

.transaction__btn {
    position: absolute;
    width: 100%;
    height: 150%;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffffdb;
    transform: translate(-50%, -170%);
    z-index: 100;
    transition: all 300ms;
}

.transaction:hover .transaction__btn {
    transform: translate(-50%, -50%);
}

@media (width > 690px) {
    .wrapper {
        width: var(--ss-wrap-large);
        justify-content: space-evenly;
    }

    .app {
        width: var(--ss-app);
    }

    .transaction-section {
        width: var(--ss-app);
    }

}

@media (orientation: landscape) and (height <= 400px) {

    .header {
        min-height: 6rem;
    }

    .wrapper {
        position: relative;
        width: 80vw;
        height: 25rem;
        margin-top: 8rem;
        display: flex;
        justify-content: space-evenly;
    }

    .top {
        padding-bottom: 1rem;
    }

    .app {
        margin: 0;
    }

    .btn {
        position: absolute;
        margin: 0;
        width: 30%;
        bottom: 0;
        right: 8.5%;
    }
}